<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="/feed">Back</a></h1>
  <h1><%= feed.name %></h1>
  <h5><%= feed.message %></h5>
  <h5><%= feed.created_at %></h5>


  <button><a href="/feed/edit/<%= feed._id %>">edit</a></button>

  <button><a href="/delete/feed/<%= feed._id %>">delete</a></button>

  
</body>
</html>